[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
aes-gcm = "0.10.3"
argon2 = { version = "0.5.3", features = ["alloc"] }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = "0.10.9"
