[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
argon2 = "0.5.3"
password-hash = { version = "0.5.0", features = ["getrandom"] }
serde = { workspace = true }
serde_json = { workspace = true }
sha2 = "0.10.9"
